* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color:#0659804b;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.divp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

.div1 {
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}
.div1:hover {
    background-color: #053951;
}


.divico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.div2 {
    background-color:#065a80;
    padding: 10px;
    border-radius: 20px;
}


.div3,
.div4 {
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.div3:hover,
.div4:hover {
    background-color: #053951;
}

.div5 {
    background-color: #065a80;
    padding: 10px;
    border-radius: 20px;
}

.banner {
    position: absolute;
    z-index: 1;
    background-color:#065a80;
    border-radius: 0px 0px 150px 150px;
    width: 99vw;
    height: 65vh;
    overflow: hidden;
}


.fondo1 {
    position: relative;
    background-color:#042d40;
    width: 90vw;
    height: 195vh;
    left: -30rem;
    top: -19rem;
    border-radius: 60%;
}

.fondo2 {
    position: absolute;
    z-index: -1;
    background-color: #134a63;
    width: 95vw;
    height: 200vh;
    left: -10rem;
    top: -19rem;
    border-radius: 50%;

}

.text1{
    position: absolute;
    z-index: 3;
    top: 12rem;
    left: 45rem;
    font-size: 35px;
    color: rgb(0, 0, 0);

    && a{
        color: rgb(11, 64, 139);
    }
    && h6{
        padding-left: 50px;
        padding-top: 10px;
    }
}

.contenedorshop{
    position: absolute;
    top: 30rem;
    width: 100%;
    overflow: hidden;
}
.filtro{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 15rem;
    margin-top: 5rem;
    padding-top: 10px;

    && li{
        padding: 20px;
    }
}
.a1{
    background-color: #032a3c;
    border-radius: 25px;
    padding: 15px;
}

.a2, .a3 , .a4{
    background-color:#065a80;
    border-radius: 25px;
    padding: 15px;
    transition: 0.5s ease;
}

.a2:hover, .a3:hover , .a4:hover{
    color: #ffffffcd;
}


/* filter */
.filter {
    position: relative;
    top: 1rem;
}


.divfilt1 {
    background-color: #065a80;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 9rem;
}

.filt11 {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    && img {
        width: 20vw;
    }
}

.precio1 {
    background-color:#065a80;
    position: absolute;
    left: 13rem;
    top: 2rem;
    padding: 15px;
    border-radius: 25px;
}

.filt12 {
    padding-top: 15px;
    background-color:#065a80;
    border-radius: 25px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.5s ease;

    && h6 {
        color:#000000;
        padding-bottom: 5px;
    }

    && h2 {
        padding-bottom: 19px;
    }

    && a {
        position: absolute;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: #64040b;
        color: #fff;
        border-radius: 50%;
        right: 73.5rem;
        bottom: 3rem;
    }

    && img {
        width: 30px;
        height: 30px;
    }
}

.filt12:hover {
    color: #ffffff;
}

.divfilt2 {
    background-color: #065a80;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 16px;
}

.filt21 {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    && img {
        width: 20vw;
        height: 34vh;
    }
}

.precio2 {
    background-color:#800606;
    position: absolute;
    left: 13rem;
    top: 2rem;
    padding: 15px;
    border-radius: 25px;
}

.filt22 {
    padding-top: 15px;
    background-color:#065a80;
    border-radius: 25px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    padding-bottom: 10px;

    && h6 {
        color:#000000;
        padding-bottom: 5px;
    }

    && h2 {
        font-size: 19px;
        padding-bottom: 10px;
    }

    && a {
        position: absolute;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: #64040b;
        color: #fff;
        border-radius: 50%;
        left: 42.8rem;
        bottom: 3rem;
    }

    && img {
        width: 30px;
        height: 30px;
    }
}

.filt22:hover {
    color: #ffffff;
}

.divfilt3 {
    background-color: #065a80;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 16px;
}

.filt31 {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    && img {
        width: 20vw;
        height: 34vh;
    }
}

.precio3 {
    background-color:#800606;
    position: absolute;
    left: 13rem;
    top: 2rem;
    padding: 15px;
    border-radius: 25px;
}

.filt32 {
    padding-top: 15px;
    background-color:#065a80;
    border-radius: 25px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    padding-bottom: 10px;

    && h6 {
        color:#000000;
        padding-bottom: 5px;
    }

    && h2 {
        font-size: 19px;
        padding-bottom: 10px;
    }

    && a {
        position: absolute;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: #64040b;
        color: #fff;
        border-radius: 50%;
        right: 32.4rem;
        bottom: 3rem;
    }

    && img {
        width: 30px;
        height: 30px;
    }
}

.filt32:hover {
    color: #ffffff;
}

.divfilt4 {
    background-color:#065a80;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 16px;
}

.filt41 {
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    && img {
        width: 20vw;
        height: 34vh;
    }
}

.precio4 {
    background-color:#800606;
    position: absolute;
    left: 13rem;
    top: 2rem;
    padding: 15px;
    border-radius: 25px;
}

.filt42 {
    padding-top: 15px;
    background-color: #065a80;
    border-radius: 25px;
    padding-left: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    padding-bottom: 10px;

    && h6 {
        color:#000000;
        padding-bottom: 5px;
    }

    && h2 {
        font-size: 19px;
        padding-bottom: 10px;
    }

    && a {
        position: absolute;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: #64040b;
        color: #fff;
        border-radius: 50%;
        right: 12.2rem;
        bottom: 3rem;
    }

    && img {
        width: 30px;
        height: 30px;
    }

}

.filt42:hover {
    color: #ffffff;
}

.contpag{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;

    && a{
        display: flex;
        background-color: #065a80;
        border-radius: 55%;
        padding: 15px;
        width: 45px;
        height: 45px;
        color: #000000;
    }

    && a:hover{
        background-color: #072d4b;
    }
}
.este{
    background-color:#072d4b !important;
}

footer{
    margin-top: 150px;
    background-color: #065a80;
    height: 15vh;
    border-radius: 150px 150px 0px 0px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 25px;
    color: #e2e2e2;
}