* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #0659804b;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.divp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 30px;
    font-size: 20px;
    width: 50%;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

.div1 {
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}
.div1:hover {
    background-color:  #053951;
}


.divico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.div2{
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}
.div2:hover {
    background-color:  #053951;
}


.div3 {
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.div3:hover {
    background-color: #053951;
}

.div4{
    background-color: #053951;
    padding: 10px;
    border-radius: 20px;
}
.div5 {
    background-color:  #053951;
    padding: 10px;
    border-radius: 20px;
}

.banner {
    position: absolute;
    z-index: 1;
    background-color:#065a80;
    border-radius: 0px 0px 150px 150px;
    width: 99vw;
    height: 70vh;
    overflow: hidden;
}

.fondo1 {
    position: relative;
    background-color:#042d40;
    width: 90vw;
    height: 195vh;
    left: -30rem;
    top: -19rem;
    border-radius: 60%;
}

.fondo2 {
    position: absolute;
    z-index: -1;
    background-color: #134a63;
    width: 95vw;
    height: 200vh;
    left: -10rem;
    top: -19rem;
    border-radius: 50%;

}

.text1{
    position: absolute;
    z-index: 3;
    top: 12rem;
    left: 45rem;
    font-size: 35px;
    color: rgb(0, 0, 0);

    && a{
        color: rgb(9, 89, 139);
    }
    && h6{
        padding-left: 50px;
        padding-top: 10px;
    }
}

.contact{
    position: absolute;
    top:32rem;
    width: 100%;
}

.text{
    background-color: #065a80;
    border-radius: 25px;
    margin-left: 60px;
    width: 40vw;
    padding: 30px;
    font-size: 19px;
}

.encabezado{
    padding: 20px;
    font-size: 20px;
    font-size: 30px;

    && h6{
        color: #021f2c;
    }
}

.info{
    padding-top: 10px;
    margin-top: 30px;

    && li{
        padding: 20px;
        color: #ffffff;
    }

    && span{
        padding-bottom: 20px;
        color: #000000
    }
}

.form{
    position: relative;
    left: 45rem;
    top: -36rem;
    width: 35vw;
}
.map{
    border-radius: 25px;
    && iframe{
        width: 40vw;
        height: 50vh;
        border-radius: 25px;
    }

}
.forms{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;

    && fieldset{
        border-radius: 25px;
        size: 30px;
        border: none;
    }
    && input{
        padding: 10px;
        outline: none;
        border: 10px black;
        background-color: #09567a;
    }
    && textarea{
        padding: 60px;
        width: 30vw;
        margin-left: 20px;
        border-radius: 25px;
        background-color:  #09567a;
    }

    && button{
        background-color: #09567a;
        padding: 20px;
        cursor: pointer;
    }

    && button:hover{
        background-color: #0d77a9;
    }
}

footer{
    margin-top: 150px;
    background-color: #065a80;
    height: 15vh;
    border-radius: 150px 150px 0px 0px;
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 25px;
    color:#ffffff;
}

